In [35]:
from housing import Housing

In [36]:
list_var = [-120.24, 32.85, 54.0, 1467.0, 190.0, 496.0, 177.0, 7.2574, 352100.0, 'NEAR BAY']

In [37]:
house1 = Housing()

In [38]:
house1.findKneighbors(list_var, 4)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
16972,-122.31,37.56,45.0,1685.0,321.0,815.0,314.0,4.2955,309700.0,NEAR OCEAN
156,-122.24,37.81,52.0,2485.0,313.0,953.0,327.0,6.8591,352400.0,NEAR BAY
158,-122.23,37.81,52.0,2814.0,365.0,878.0,352.0,7.5080,348700.0,NEAR BAY
141,-122.21,37.82,52.0,2375.0,333.0,813.0,350.0,7.0549,331400.0,NEAR BAY